* {
  margin: 0;
  padding: 0;
}

html{ width:100%; overflow-x:hidden;}
body {
  background-color: #fefefe;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ebebeb' fill-opacity='0.31'%3E%3Cpath opacity='.8' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #fff;
}
@font-face {
	font-family:enart;
	src:url(enart.otf);
}
@font-face {
	font-family:entitle;
	src:url(entitle.otf);
}
@font-face {
	font-family:pinyin;
	src:url(pinyin.otf);
}

@font-face {
	font-family:enarticle;
	src:url(entitle.otf);
}
@font-face {
	font-family:enwen;
	src:url(enwen.otf);
}
a {
  outline: none;
  text-decoration: none;
}
.clear{ clear:both;}

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
        }
        h1 {
            font-size: 1.8em;
            color: #000000;
        }
        .container {
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 0;
        }
		.sec{
    clear: both;
    width: 100%;
    padding: 10px 11px;
}
		.sec_right{margin: 5px 7px 0;width: 88%;}

.sec_cn{}
.sec_en{
    clear: both;
   border-bottom: 2px dotted #ccc;;
    padding-top: 4px;
}
			
	#image {width: 100%;display: block;
   min-height: 17em;background: url(../img/loading.gif) no-repeat top center;}
		#title-cn{
    line-height: 1.2em;
    display: inline;
    float: left;
    letter-spacing: 0.1em; 
}
.country{
            font-family:enart;
            margin-top: -35px;
            float: left;
            margin-left: 87px;
            position: absolute;
            font-size: 2em;
            letter-spacing: 8px;
            text-shadow: 1px 1px 5px #000;
            color: #fff;
            }
		#title-en{
    line-height: 1.2em;
    margin: 0;
    font-size: 1.4em;
    padding: 0;
    display: inline-block;
    float: left;
    padding-right: 0.5em;
    font-family: 'enarticle';
    letter-spacing:5px;
}
		#adress-cn{
    float: left;
    line-height: 2.2em;
    font-size: 1.0em;
    padding-left: 12px;
    letter-spacing: 0.1em;
}
		#adress-en{
    line-height: 1.5em;
    font-size: 1.1em;
    color: #3d3d3d;
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline;
    float: left;
    font-family: 'entitle';
    letter-spacing: 1px;
}
		
		.third{ clear:both}
		

		
        .description {
            font-size: 1.1em;
            line-height: 2em;
            margin: 0px 1.6em;
            text-indent: 1em;
            clear: both;
            min-height: 10em;
        }
		
		#descr-en{padding-top: 13px;padding-bottom: 30px;min-height: 1em; display:none;}
		  .description  p {margin-top: 0.2em;letter-spacing: 0.1em;}
		  
		  .description button{
    background: url(images/read.svg) no-repeat;
    border: none;
    font-size: 0em;
    background-size: 28px 28px;
    line-height: 22px;
    margin-left: 1px;
    padding: 8px 15px;
    cursor: pointer;
 }  
	.description button:hover {
                  background-image: url(images/play.webp) ;  background-size: 30px 30px;background-repeat:no-repeat;
        }
	
	
	
	.description button:active {  background: url(images/play.gif) ; background-repeat:no-repeat;
}
	
		.word-cn{}
		
		
		.word-en{
    line-height: 1.6em;
    padding-bottom: 1.2em; font-family:enwen;
}
        .address {
            color: #000000;
            margin: 5px 0;
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 4px; 
        }
        .flag {
            width: 70px;
            height: auto;
			min-height: 2.4em;
            margin-top: -47px;
            float: left;
            left: 17px;
            position: absolute;
            z-index: 9998;
            background: url(../img/positioning.gif) no-repeat top center
        }
 .copyright{text-align: center;
    font-size: 1em;
    background: #222;
    color: #6f6f6f;
    padding: 1em 1em 1em;}
.copyright span{ font-size: 0.4em;
    color: #555;
    text-align: left;
    display: block;
    text-indent: 23px;
    padding: 5px 2px;}
	
	
	
	 .nav-links {    position: relative; /* 为了让绝对定位的动画相对 */
        overflow: hidden; /* 防止按钮飞出边界 */
        }
        .nav-links a {margin: 0 0px;
    padding: 8px 15px;
    background: #fffffff0;
    border: 1px solid #dbdbdb;
    text-decoration: none;
    font-size: 1.3em; display:inline-block; position:fixed;
    color: #000;transition: transform 1.5s ease; /* 动画效果 */ 
        }
		.fly-left {
        transform: translateX(-100vw); border-radius: 50px 0 0 50px; border-right:none;  /* 向左飞离 */
    }

    .fly-right {
        transform: translateX(100vw); border-radius: 0 50px 50px 0; border-left:none; /* 向右飞离 */ 
    }
		
		
		#previous-link{  top:85%; left:135px;}
			
			
		#previous-link b{ moz-transform:scaleX(-1);
            -webkit-transform:scaleX(-1);
            -o-transform:scaleX(-1);
            transform:scaleX(-1); display:inline-block;
            /*兼容IE*/
            filter:FlipH;}	
			
			#next-link{ top:85%; left:187px;}
			
        .nav-links a:hover {
            
        }